@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
  margin: 0;padding: 0;
}
body , #root{
  width: 100vw;
  height: 100vh;
  /* background: #212121; */
  color: white;
  font-family: "Roboto Slab", serif;
}
body{
  background: url(background.jpg);
  background-size: cover;
}
