* {
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body , #root{
  width: 100vw;
  background-color: #000;
  color: white;
  overflow: scroll;
  animation: hideOverflow 4s linear 1;
  scrollbar-width: 0;
}

@keyframes hideOverflow {
  0%{
    overflow: hidden;
  }
  100%{
    overflow-y: scroll;
  }
}

#root::-webkit-scrollbar{
  display: none;
}
body::-webkit-scrollbar{
  display: none;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
