.quill{
  width: 100%;
}

.ql-editor img {
  width: 20%;
  height: auto;
  display: block;
  margin: 10px 0;
}

button.save-notes, .delete-notes {
  outline: none;
  border: none;
  background: none;
  margin: 1em;
  padding: 0.5em 1em;
  background: #7886C7;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  color: black;
}

button.save-notes:hover , .delete-notes:hover , .undoRedo-notes:hover {
  box-shadow: 2px 2px 4px rgb( 0 0 0 / 25% );
  transition: 0.5s;
}

.undoRedo-notes {
  transition: 0.5s;
    width: 20%;
    height: 2em;
    justify-content: space-between;
    background: #7886c7;
    border-radius: 5px;
    padding: 0em 0.5em;
}
svg.undo, svg.redo {
    height: 100%;
    cursor: pointer;
}
span.line {
    height: 75%;
    width: 1px;
    background: black;
}
.feautures.flex {
    width: 20%;
    justify-content: space-evenly;
}

input.note-name {
    border: none;
    outline: none;
    padding: 2em 1em;
    font-size: large;
}
